{:kotoba.app/id "cloud.itonami.isic-1313", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibqrh6yuocvzzcsteduwzlrrqrxaww3d5vxl42ck6llsjd7bcbd7q", :kotoba.app/embed-url "ipfs://bafkreibqrh6yuocvzzcsteduwzlrrqrxaww3d5vxl42ck6llsjd7bcbd7q", :published {:archive "https://kotobase.net/ipfs/bafkreibqrh6yuocvzzcsteduwzlrrqrxaww3d5vxl42ck6llsjd7bcbd7q", :size 72929, :put-status 201, :get-status 200, :at "2026-08-15T13:59:46.885Z"}}
